/**********************
GENERAL
***********************/


body { font-family: 'Work Sans', sans-serif;
  
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
#wrapper {
	max-width: 940px;
	margin: 0 auto;
	background-color:  ;
	clear:both;
}


a {
	color: #e67e22;
}

p{
	max-width: 100%;
	margin: 1% auto;
	padding: 0 5%;
}
img {
	max-width: 100%;	
}

.abouth3 {
	padding: 0 5%;
	max-width: 100%;
}
/**********************
HEADING
***********************/
/* Pumpkin Header */
#logo {
	text-align: center;
	margin: 0;
}

header {float: left;
		margin: 0 0 30px 0;
		padding: 5px 0 0 0;
		width: 100%;
		background-color: #e67e22;
		border-color:#d35400;
}
h1 {
	font-family: 'Changa One', 'sans-serif';
	margin:0 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}
h2 {
	font-size: 0.75em;
	margin: 5px 0 0;
	font-weight: normal;
}

h1, h2 {
	color:#fff;
}

/**********************
NAVIGATION
***********************/
nav {background:#d35400;
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0 ;
}
nav a, nav a:visited {
	color: #fff;
}
nav a.selected, nav a:hover {
	font-weight: bold;
	text-shadow: 0px 0px 1px #fff;
}
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

*/
/**********************
PORTFOLIO
***********************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}
#gallery li a p {
	margin: 0;
	padding: 5%;
	color: #bdc3c7;
}

/**********************
ABOUT
***********************/
.profile-photo {
	display: block;
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 50%;
}
/**********************
CONTACTS
***********************/
.contactinfo {
	margin: 0;
	padding: 0 5%;
    max-width: 100%;
}
.contactinfo a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;

}
.contactinfo li.phone a {
	background-image: url('../img/phone.png');
}
.contactinfo li.email a {
	background-image: url('../mail.png');
}
.contactinfo li.facebook a {
	background-image: url('../img/facebook.png');
}
/**********************
FOOTER
***********************/
footer {
	font-size: 0.80;
	text-align: center;
	padding-top: 50px;
	color:#ccc;
	clear:both;
}

.social-icon {
	width: 40px;
	height: 40px; 
	margin: 0 5px;
}
/* This is site body */
body {background-color: #fff;
	  color:#999;
}
